.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    background-color: #3f51b5;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
}

.float-button a {
    color: #fff !important;
}